.navbar{
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  background: rgb(17,39,129,0.5);
  box-sizing: border-box;
  padding: 0 60px;
}

.logo{
  width: 155px;
}

.logo img{
  width: 30px;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

nav{
  flex: 1;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 60px;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px 5px rgb(14, 37, 100);
}

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins"
}

body{
  background: rgb(180,193,249);
background: linear-gradient(90deg, rgba(180,193,249,1) 0%, rgba(199,240,245,1) 50%, rgba(205,255,201,1) 100%);
}


audio {
    width: 300px;
    height: 40px;
}